#Listas

In [ ]:
# Criando uma lista vazia.
listavazia = []

# Criando uma lista com alguns valores.
numeros = [1, 3, 7, 8, 9]

# Listas podem mesclar diferentes tipos de valores.
listamista = [14, "let's code", 0.1, True]

print(numeros)
print(listamista)

[1, 3, 7, 8, 9]
[14, "let's code", 0.1, True]

In [ ]:
# Acessamos cada elemento da lista através de um índice entre colchetes.
# Os índices começam em 0.
print(numeros[0])
print(numeros[1])
print(numeros[2])
print(numeros[3])
print(numeros[4])

# Listas são mutáveis: podemos alterar o valor de seus itens.
numeros[2] = 5
print(numeros)

1
3
7
8
9
[1, 3, 5, 8, 9]

In [ ]:
# Um jeito inteligente de trabalhar com listas é utilizando loops.
indice = 0
while indice < 5:
    print(numeros[indice])
    indice = indice + 1

1
3
5
8
9

In [2]:
nome_paises = ['Brasil', 'China', 'Canadá','Japão', 'Argentina']
nome_paises

['Brasil', 'China', 'Canadá', 'Japão', 'Argentina']

In [4]:
len(nome_paises)

5

In [7]:
nome_paises[4]

'Argentina'

In [8]:
nome_paises[-2]

'Japão'

In [11]:
nome_paises[3] = 'Colômbia'

In [12]:
print(nome_paises)

['Brasil', 'China', 'Canadá', 'Colômbia', 'Argentina']

In [14]:
print(nome_paises[:])

['Brasil', 'China', 'Canadá', 'Colômbia', 'Argentina']

In [16]:
print(nome_paises[2:4])

['Canadá', 'Colômbia']

In [18]:
print(nome_paises[1:-1])

['China', 'Canadá', 'Colômbia']

In [19]:
print(nome_paises[3:])

['Colômbia', 'Argentina']

In [20]:
print(nome_paises[::-1])

['Argentina', 'Colômbia', 'Canadá', 'China', 'Brasil']

In [21]:
print(nome_paises[::2])

['Brasil', 'Canadá', 'Argentina']

In [22]:
print("Brasil" in nome_paises)

True

In [23]:
print("Brasil" not in nome_paises)

False

In [37]:
lista_capitais = []

In [38]:
lista_capitais.append('Brasília')
lista_capitais.append('Buenos Aires')
lista_capitais.append('Pequim')

In [39]:
print(lista_capitais)

['Brasília', 'Buenos Aires', 'Pequim']

In [40]:
lista_capitais.insert(2, 'Paris')
print(lista_capitais)

['Brasília', 'Buenos Aires', 'Paris', 'Pequim']

In [41]:
lista_capitais.remove('Buenos Aires')
print(lista_capitais)

['Brasília', 'Paris', 'Pequim']

In [42]:
lista_capitais.pop(2)

'Pequim'

Funções de listas

In [ ]:
indice = 0
while indice < len(numeros):
    print(numeros[indice])
    indice = indice + 1

1
3
5
8
9

In [ ]:
animais = []
resposta = 's'
while resposta == 's' or resposta == 'S':
    resposta = input('Deseja adicionar um animal à lista (s/n)? ')
    if (resposta == 's' or resposta == 'S'):
        animal = input('Digite o nome do animal: ')
        animais.append(animal) # adiciona o novo animal à lista
print(animais)

Deseja adicionar um animal à lista (s/n)? s
Digite o nome do animal: cachorro
Deseja adicionar um animal à lista (s/n)? s
Digite o nome do animal: gato
Deseja adicionar um animal à lista (s/n)? n
['cachorro', 'gato']

In [ ]:
animal = input('Digite o animal a ser deletado da lista: ')
animais.remove(animal)
print(animais)

Digite o animal a ser deletado da lista: gato
['cachorro']

list.count()

In [ ]:
jogadores = ['Ronaldo', 'Rivaldo', 'Ronaldo', 'Adriano']
ronaldos = jogadores.count('Ronaldo')
print(jogadores)
print('Quantidade de Ronaldos: ', ronaldos)

['Ronaldo', 'Rivaldo', 'Ronaldo', 'Adriano']
Quantidade de Ronaldos:  2

list.index()

In [ ]:
rivaldo = jogadores.index('Rivaldo')
print("Rivaldo está na posição ", rivaldo)

Rivaldo está na posição  1

list.sort()

In [ ]:
jogadores.sort()
print("jogadores em ordem alfabética: ", jogadores)

jogadores em ordem alfabética:  ['Adriano', 'Rivaldo', 'Ronaldo', 'Ronaldo']

max(list) e min(list)

In [ ]:
digitos = [3, 1, 4, 1, 5, 9, 2, 6, 5]
maior = max(digitos)
menor = min(digitos)
print(digitos)
print("Maior = ", maior, "e menor = ", menor)

[3, 1, 4, 1, 5, 9, 2, 6, 5]
Maior =  9 e menor =  1

#Tuplas

In [ ]:
# Uma tupla é uma coleção de objetos que lembra muito as listas.

# Ao invés de colchetes, usamos parênteses para declarar as tuplas:
numeros = (1,2,3,5,7,11)

# Podemos declarar sem parênteses também:
numeros = 1,2,3,5,7,11

In [ ]:
# Para acessar um valor, utilizamos a mesma sintaxe das listas:
print(numeros[4])
print(type(numeros))

7
<class 'tuple'>

In [ ]:
# Podemos gerar uma tupla a partir de uma lista...
lista1 = [3, 1, 4, 1, 5, 9, 2, 6, 5]
tupla1 = tuple(lista1)
print(tupla1)

(3, 1, 4, 1, 5, 9, 2, 6, 5)

In [ ]:
# ...ou uma lista a partir de uma tupla:
tupla2 = [1, 6, 1, 8]
lista2 = list(tupla2)
print(lista2)

[1, 6, 1, 8]

In [ ]:
# Também pode-se usar o unpacking com uma tupla:
a, b, c, d, e, f = numeros # "desempacota" a tupla numeros
print("O primeiro vale:", a, "e o ultimo vale:", f)

O primeiro vale: 1 e o ultimo vale: 11

In [43]:
nome_estado = 'PR', 'SP', 'RS','SC',
print(nome_estado, type(nome_estado))

('PR', 'SP', 'RS', 'SC') <class 'tuple'>

In [44]:
p, s, r, s, = nome_estado

In [46]:
print(p,s,r,s)

PR SC RS SC

#Strings

In [47]:
# Suponhamos que temos a seguinte string:

frase = 'uma FRASE'

In [49]:
# Podemos acessar individualmente cada caractere em uma frase.
# A ideia é a mesma de acessar uma lista:
print(frase[0])
print(frase[1])
print(frase[2])

u
m
a

In [51]:
tamanho = len(frase)
print("A frase possui", tamanho, "caracteres")

A frase possui 9 caracteres

In [52]:
# Porém, strings são imutáveis: não podemos alterar caracteres individuais
# A linha abaixo, se for descomentada, dará erro no programa:
# frase[4] = 'C'

# Podemos converter strings para listas:
listafrase = list(frase)
print(listafrase)

['u', 'm', 'a', ' ', 'F', 'R', 'A', 'S', 'E']

In [53]:
# A função join() intercala cada elemento de uma lista com uma string.
stringfinal = '-py'.join(listafrase)
print(stringfinal)

u-pym-pya-py -pyF-pyR-pyA-pyS-pyE

In [54]:
# Usar um join() com uma string vazia é útil para transformar a lista de volta
# em string:
stringfinal = ''.join(listafrase)
print(stringfinal)

uma FRASE

In [55]:
# Existem algumas funções interessantes que retornam a string "tratada":
s1 = frase.capitalize() # 1a letra maiúscula, restante minúscula
s2 = frase.title() # todo início de palavra em maiúscula, resto minúscula
s3 = frase.upper() # string inteira em maiúscula
s4 = frase.lower() # string inteira em minúscula
s5 = frase.replace('F', 'C') # substitui a primeira substring pela segunda

In [57]:
print(s1)
print(s2)
print(s3)
print(s4)
print(s5)
# Note que NENHUMA delas ALTERA a string original, elas sempre retornam
# a string nova.
print('String original:', frase)

Uma frase
Uma Frase
UMA FRASE
uma frase
uma CRASE
String original: uma FRASE

In [58]:
# Outra possibilidade com strings é quebrar a string em uma lista de substrings
# Sempre que o caractere especificado é encontrado, a string é quebrada
quebra1 = frase.split(' ') # quebra a frase no caractere espaço em branco
quebra2 = s3.split('A') # quebra a frase em maiúsculas no caractere 'A'

In [59]:
print(quebra1)
print(quebra2)

['uma', 'FRASE']
['UM', ' FR', 'SE']

In [60]:
# Podemos inserir quebras de linha com '\n'
frase = 'uma\nFRASE'
print(frase)

uma
FRASE

In [61]:
# Podemos inserir tabulação com '\t'
frase = 'uma\n\tFRASE'
print(frase)
# Para conseguir representar a barra '\', precisamos de 2 barras:
frase = 'uma\\FRASE'

uma
	FRASE

In [62]:
empresa = 'Google'
empres2 = "Let's Code"

In [64]:
frase = "a pizzaria disse: \"hoje a pizza ta boa\""
print(frase)

a pizzaria disse: "hoje a pizza ta boa"

In [65]:
empresa[0]

'G'

In [66]:
empresa[:3]

'Goo'

In [67]:
nome_cidades = "São paulo, Brasiliea, Fco. Beltrao, Pato branco"
nome_cidades = nome_cidades.split(',')
nome_cidades

['São paulo', ' Brasiliea', ' Fco. Beltrao', ' Pato branco']

In [68]:
cabecalho = "                 MENU"
print(cabecalho.strip())

MENU

In [73]:
maravilhosa = input("Que cidade é a maravilhosa")
maravilhosa = maravilhosa.strip()
while maravilhosa.lower() != 'rio de janeiro':
  print("tenta dnv")
  maravilhosa = input('que cidade é maravilhosa?')

print("boa")

Que cidade é a maravilhosario de janeiro
boa

In [74]:
mensagem = 'vc viu o pietro'
fui_citado = "pietro" in mensagem
print(fui_citado)

True

In [75]:
# Dois operadores aritméticos possuem um comportamento especial em strings:
# Operador de soma (+): concatena (une) 2 strings.
palavra1 = "Let's"
palavra2 = "Code"
palavra3 = palavra1 + palavra2
print(palavra3)

Let'sCode

In [76]:
# Operador de multiplicação (*): copia uma string 'n' vezes:
palavra = 'uma'
trespalavras = 3*palavra
print(trespalavras)

umaumauma

In [77]:
prod = 'chocolate'
preco = 3.14
print('O produto {} custa {}.'.format(prod, preco))

# Na linha acima, prod substituirá o primeiro {}, e preco o segundo {}.
# Saída: O produto chocolate custa 3.14.

O produto chocolate custa 3.14.

In [79]:
# É possível colocar algumas opções especiais de formatação. Por exemplo:

stringoriginal = 'O litro da gasolina custa {:.2f}'
preco = 3.14159265
stringcompleta = stringoriginal.format(preco)
print(stringcompleta)

O litro da gasolina custa 3.14

In [80]:
# Pode-se chamar as variávies em diferentes ordens:

print('{2}, {1} and {0}'.format('a', 'b', 'c'))

c, b and a

In [81]:
print('{0}{1}{0}'.format('abra', 'cad'))

abracadabra

In [82]:
# Podemos especificar um número de dígitos obrigatório por campo.
# Vejamos o exemplo:

dia = 1
mes = 8
ano = 2019
data1 = '{}/{}/{}'.format(dia, mes, ano)
print(data1)
# Saída: 1/8/2019
# O dia e o mês ocupam apenas 1 espaço

1/8/2019

In [83]:
data2 = '{:2d}/{:2d}/{:4d}'.format(dia, mes, ano)
# A opção 'd' significa que o parâmetro é um número inteiro.
print(data2)
# Saída:  1/ 8/2019
# Agora, dia e mês ocupam obrigatoriamente 2 espaços:  1/ 8/2019

 1/ 8/2019

In [84]:
# Podemos forçar que os espaços em branco sejam preenchidos com o número 0:
data3 = '{:02d}/{:02d}/{:04d}'.format(dia, mes, ano)
print(data3)
# Saída: 01/08/2019
# Agora sim a data está no formato usual, dd/mm/aaaa: 01/08/2019

01/08/2019

In [85]:
# Um modo mais simples de utilizar o format
nome = "Pietro"
profissao = "professor"
escola = "Let's Code"

print(f"{nome} é {profissao} da {escola}.")
# Saída: Pietro é professor da Let's Code.

Pietro é professor da Let's Code.

In [88]:
nome = "welliton"
idade = 27

print(nome + " tem " + str(idade) + " anos")

welliton tem 27 anos

In [89]:
print('{} tem {} anos'.format(nome,idade))

welliton tem 27 anos

In [90]:
f'{nome} tem {idade} anos'

'welliton tem 27 anos'

#Dicionários

In [92]:
# O dicionário é definido pelos símbolos { e }

dicionario = {}

# O dicionário não possui um "append".
# Adicionamos valores diretamente:

dicionario['cat'] = 'gato'
dicionario['dog'] = 'cachorro'
dicionario['mouse'] = 'rato'

print(dicionario)
print(type(dicionario))

{'cat': 'gato', 'dog': 'cachorro', 'mouse': 'rato'}
<class 'dict'>

In [93]:
# Dicionários, assim como as listas, são mutáveis:
dicionario['dog'] = 'cão'
print(dicionario)

{'cat': 'gato', 'dog': 'cão', 'mouse': 'rato'}

In [95]:
# Podemos criar o dicionário diretamente também:
dicionario2 = {'Curso': 'Python Pro', 'Linguagem':'Python', 'Módulo':2}
print(dicionario2)

{'Curso': 'Python Pro', 'Linguagem': 'Python', 'Módulo': 2}

In [96]:
# Podemos utilizar o operador "in" para verificar se uma chave existe:
if 'cat' in dicionario:
    print('cat existe!') # Sim
if 'bird' in dicionario:
    print('bird existe!') # Não
if 'gato' in dicionario:
    print('gato existe!') # Não

cat existe!

In [98]:
#Também podemos utilizar as funções .keys() e .values() para obter listas
#com apenas as chaves ou apenas os valores do dicionário.

chaves = dicionario.keys()
print(chaves)

dict_keys(['cat', 'dog', 'mouse'])

In [99]:
valores = dicionario.values()
print(valores)

dict_values(['gato', 'cão', 'rato'])

In [100]:
# Já a função .items(), retorna uma lista de tuplas (chave, valor) de um dicionário

itens = dicionario.items()
print(itens)

dict_items([('cat', 'gato'), ('dog', 'cão'), ('mouse', 'rato')])

#Estrutura de Repetição FOR

In [101]:
fib = [1, 1, 2, 3, 5, 8, 13]
for elemento in fib:
    print(elemento)

1
1
2
3
5
8
13

In [102]:
# Com 1 parâmetro, ele será interpretado como valor final (exclusivo).
# O valor inicial será 0 e o incremento será 1.

for numero in range(10):
    print(numero)
    # este exemplo imprime os números de 0 a 9, de um em um

0
1
2
3
4
5
6
7
8
9

In [103]:
# Com 2 parâmetros, o primeiro será o valor inicial (inclusivo) e o
# segundo será o final (exclusivo).
# O incremento continuará sendo 1.

for numero in range(1,11):
    print(numero)
    # este exemplo imprime os números de 1 a 10, de um em um

1
2
3
4
5
6
7
8
9
10

In [104]:
# Com 3 parâmetros, o terceiro será interpretado como incremento.
for numero in range(1,20,2):
    print(numero)
    # este exemplo imprime os ímpares positivos menores do que 20
    # ele começa valendo 1 e salta de 2 em 2 até atingir ou passar 20

1
3
5
7
9
11
13
15
17
19

In [105]:
# O incremento pode ser também um decremento (incremento negativo).
for numero in range (10,0,-1):
    print(numero)
    #Imprimindo os números de 1 a 10 em ordem decrescente

10
9
8
7
6
5
4
3
2
1

In [107]:
for nome in nome_cidades:
    print(nome)

São paulo
 Brasiliea
 Fco. Beltrao
 Pato branco

In [108]:
cidade = {
    'nome': 'SP',
    'estado': 'SP',
    'pop': 12.2
}

for chave in cidade:
  print(f'{chave}: {cidade[chave]}')

nome: SP
estado: SP
pop: 12.2

In [110]:
for pos in range(len(nome_cidades)):
  nome_cidades[pos] = 'Rio'
print(nome_cidades)

['Rio', 'Rio', 'Rio', 'Rio']

In [111]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [112]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [114]:
list(range(2,10,2))

[2, 4, 6, 8]

#Funções

funções

In [115]:
def hello():
    print("Olá, mundo!")

In [116]:
hello()

Olá, mundo!

In [118]:
def ola(nome):
    print("Olá", nome)

In [119]:
ola("Welliton")

Olá Welliton

In [120]:
aluno = "João"
ola(aluno)

Olá João

In [121]:
def dadosPessoais(nome, idade, cidade):
    print("Seu nome é {}, você tem {} anos e mora em {}.".format(nome, idade, cidade))

In [122]:
dadosPessoais("José", 30, "Maceió")

Seu nome é José, você tem 30 anos e mora em Maceió.

In [123]:
dadosPessoais(idade=56, cidade="Florianópolis", nome="Ana")

Seu nome é Ana, você tem 56 anos e mora em Florianópolis.

funções com resposta

In [124]:
def somatorio(lista):
    soma = 0
    for item in lista:
        soma = soma + item
    return soma

In [125]:
numeros = [1, 2, 3, 4, 5]
soma_dos_numeros = somatorio(numeros)
print("A soma dos elementos da lista vale: ", soma_dos_numeros)

A soma dos elementos da lista vale:  15

In [126]:
if somatorio(numeros) > 50:
    print("Que soma grande!")
else:
    print("Que soma pequena!")

Que soma pequena!

funções recursivas

In [127]:
def funcaoRecursiva(numero):
    if (numero != 1):
        funcaoRecursiva(numero - 1)
    print(numero)

print("Testando a função recursiva:")
funcaoRecursiva(10)

Testando a função recursiva:
1
2
3
4
5
6
7
8
9
10

aula

In [129]:
def media(valor1, valor2, valor3):
  soma = valor1 + valor2 + valor3
  media = soma/3
  return(media)

In [130]:
print(media(10,2,8))

6.666666666666667

agrupando parâmetros

In [131]:
def piscina(*infos):
    vol = infos[0]*infos[1]*infos[2]
    return vol

volume = piscina(5, 4, 5)

print('O volume é: ', volume)

O volume é:  100

In [132]:
def piscina(prof, largura, comprimento):
    vol = prof*largura*comprimento
    return vol

lista = [5, 4, 5]

volume = piscina(*lista)

print('O volume é: ', volume)

O volume é:  100

parâmetros opcionais

In [133]:
def piscina(prof, **infos):
    vol = prof*infos['largura']*infos['comprimento']
    return vol

volume = piscina(5, largura=4, comprimento=5)

print('O volume é: ', volume)

O volume é:  100

In [134]:
def piscina(prof, largura=4, comprimento=5):
    vol = prof*largura*comprimento
    return vol

infos = {'largura': 10, 'comprimento': 20}

volume = piscina(5, **infos)

print('O volume é: ', volume)

O volume é:  1000

In [136]:
def media2(*args):
  soma = sum(args)
  media = soma /len(args)
  return (media)

In [138]:
media2(10,9,8,4,2,1)

5.666666666666667

In [139]:
def print_info(**kwargs):
  print(kwargs, type(kwargs))

In [140]:
print_info(nome='welliton', sobrenome='leal', idade=27)

{'nome': 'welliton', 'sobrenome': 'leal', 'idade': 27} <class 'dict'>